@tailwind base;
@tailwind components;
@tailwind utilities;


body,
html {
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-y: hidden;
  font-family: sans-serif;
}

#clock{
  font-family: 'Noto Serif', serif;
}
::placeholder {
  font-size: 1.1rem;
  color: white;
  opacity: 0.8;
}


#greeting{
  font-size: 2rem;
}

.login {
    text-align: center;
    text-decoration: none;
    padding: 0.35em 1.2em;
    margin-left: 10px;
    background-color: white;
    border: none;
  }
  
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.todo-panel {
  border-radius: 5%;
  background-color: #faedcd;
  height: 400px;
  width: 380px;
  transform: translateX(500%);
}

.todo-panel.open {
  transform: translateX(0);
}

.close-button {
  top: -3px;
  z-index: 2;
}

.todo-item {
  display: flex;
  align-items: center;
  margin: 10px 0;
  border-radius: 2rem;
  background-color: #ccd5ae;
}

.todo-item.strikethrough {
  text-decoration: line-through;
}

.todo-checkbox {
  margin: 10px;
}

.todo-label {
  flex-grow: 1;
  margin-right: 10px;
  color: black;
  
}

.add-todo-form {
  background-color: #d5bdaf;
}
    
.strikethrough {
  text-decoration: line-through;
}

.edit-button,
.delete-button {
  color: white;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 1.4rem;
}

.edit-button {
  background-color: #606c38;
  
}

.delete-button {
  border-top-right-radius: 1.8rem;
  border-bottom-right-radius: 1.8rem;
  background-color: #780000;
  padding-right: 10px;
  padding-left: 10px;
}

.todo-list{
  background-color: #faedcd;
}
.title{
  background-color: #d4a373;
}

.ui-draggable-dragging {
  pointer-events: none;
}

.daily-challenge-container {
  margin-top: 20px;
}

.challenge-text {
  font-size: 18px;
  margin-bottom: 10px;
}

.challenge-button {
  background-color: #dda15e;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.challenge-completed-message {
  font-size: 18px;
  color: #dda15e;
}

.hidden {
  display: none;
}

.pomodoro-modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.pomodoro-container {
  width: 66%;
  height: 66%;
  background: url(imgs/kamatis.jpg);
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
}
.timer {
  font-size: 200px;
  font-family: 'Noto Serif', serif;
  color: black;
}
.exit-button {
  
  cursor: pointer;
}